route-table-component {
  .panel-body {
    text-align: center;
  }

  .glyphicon {
    cursor: pointer;
    margin-left: 10px;
  }

  .align-right {
  	text-align: right;
  }

  .invisible {
  	visibility: hidden;
  }
}