<div class="panel panel-default">
  <div class="panel-heading">Routes</div>
  <div class="panel-body" ng-if="$ctrl.formService.routeList.length === 0">
    <p>No routes saved</p>
  </div>
  <table class="table table-hover" ng-if="$ctrl.formService.routeList.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Car ID</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in $ctrl.formService.routeList track by $index">
        <td>{{ item.routeName }} </td>
        <td>{{ item.carId }} </td>
        <td>{{ item.routeDate | date : 'dd/MM/yyyy' }}</td>
        <td class="align-right">
          <div class="glyphicon glyphicon-edit" ng-click="$ctrl.editRoute($index)"></div>
          <div ng-class="{invisible: $ctrl.formService.currentRoute.id === item.id}" class="glyphicon glyphicon-trash" ng-click="$ctrl.deleteRoute($index)"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>